button{
  padding:10px;
  margin:4px;
  border-radius: 10px;
  padding: 5px;
  
  
}
.text {
  padding:10px;
  margin: 3%;
  border-radius: 3px;
}
center{
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 35%;
  border-style: solid;
  border-width: 10px;
  border: 1px solid black;
  outline-style: solid;
 outline-width: 3px;
 border-radius: 10px;
  padding: 5px;
  background-color: grey;
  height: 300px;

}